* { 
    font-family: 'Architects Daughter', cursive;
    background-color: teal;
    color: white;
}

table, th, td {
    border: solid 4px pink;
}


.introduction {
    text-align: center;
}

.navbar {
    padding: 5px;
    text-align: right;
}

.image {
    width: 400px;
    height: 600px;
}

.notes {
    font-size: 14px;
    color: black;
}

h3 {
    color: pink;
    text-decoration: underline;
}

