/* applied to everything in html file */
* { 
    font-family: 'Architects Daughter', cursive;
    background-color: #FFEADD;
}

/* introduction */
.introduction {
    text-align: center;
    color: #FF6666;
}

/* table */
th, td {
    border: dotted 3px #FF6666;
    position: right;
    color: black;
}

/* navbar */
.navbar {
    padding: 5px;
    text-align: right;
}

#navbar {
    background-color: #FF6666;
    color: #FFEADD;
    font-weight: bolder;
}

/* image */
.image {
    width: 450px;
    height: 700px;
    float: right;
    border-radius: 35%;
}

/* notes */
.notes {
    font-size: 16px;
    color: #FF6666;
}

/* headers */
h3 {
    color: #FF6666;
    text-decoration: underline;
}

/* buttons */
.button {
    background-color: #FF6666;
    color: #FFEADD;
    font-weight: bolder;
    border-color: #FCAEAE;
}

/* lists */
li {
    font-weight: bold;
}