* { 
    font-family: 'Architects Daughter', cursive;
    background-color: #d4afb9;
}

table, th, td {
    border: solid 4px #b26f81;
}


.introduction {
    text-align: center;
    color: #b26f81;
}

.navbar {
    padding: 5px;
    text-align: right;
}

.image {
    width: 400px;
    height: 650px;
    float: right;
    border-radius: 50%;
}

.notes {
    font-size: 16px;
    color: #f0e2e6;
}

h3 {
    color: #b26f81;
    text-decoration: underline;
}

.button {
    background-color: #b26f81;
    color: black;
    font-weight: bolder;
    border-color: #b26f81;
}

#navbar {
    background-color: #b26f81;
    color: black;
    font-weight: bolder;
}

li {
    font-weight: bold;
}